node_modules/
.expo/
dist/
.vscode/
.claude/
.env
.venv/
__pycache__/
*.pyc
backend/models/WLASL/videos/
backend/models/breast_cancer.ipynb
backend/models/mutemotion-wlasl-translation-model.ipynb
*.zip
*.txt
*.json
backend/tmp_videos
android/
